.jumbotron{background-color: #dfdfdf;}
.jumbotron {
      background: url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: #fff;
}
h1 {font-family: 'Vidaloka', serif;}